/* weather styles */

html,
body {
    height: 100%;
}

/* cover */

#cover {
    background: #222 url('mountains.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}